body{
  display:flex;
  flex-direction:column;
  font-family: Arial, Helvetica, sans-serif;
}

.top-section{
  background-color: #1F2937;
  color: white;
  display:flex;
  flex-direction: column;
  padding:20px 12% 0 12%;
}

.header{
  display:flex;
  flex-direction: row;
  align-items:center;
  
}


.header-logo{
  margin: 0 auto 0 0;
  font-size: 24px;
}

.links ul{
  display:flex;
  flex-direction: row;
  list-style: none;
  gap:32px;
}

a{
  text-decoration:none;
  color:white;
  font-size: 18px;
}

.hero{
  display:flex;
  flex-direction: row;
  align-items:center;
  padding: 120px 0;
  gap: 100px;
}

.hero-image{
  flex: 0 1 50%;
}

.hero-image img{
  width: 100%;
  height: auto;
}

.hero-main-text{
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.hero-description{
  font-size: 18px;
}

.sign-up-section{
  flex: 1 1 50%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.signup-button, .call-to-action-button{
  margin-top: auto;
  background-color: #3882F6;
  color:white;
  font-weight:bold;
  font-size: 18px;
  border:none;
  border-radius: 10px;
  padding: 10px 30px;
}

.call-to-action-button{
  border:solid white;
}

.content{
  /* border:solid 4px blue; */
  padding:0 12% 100px 12%;
}

.content h1{
  /* border:solid 4px black; */
  font-size: 36px;
  font-weight:bold;
  text-align:center;
  margin-bottom: 50px;
}

.items{
  display:flex;
  flex-direction:row;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;

}

.item-img{
  border:solid 4px rgb(168, 168, 226);
  border-radius: 10px;
  width:200px;
  height: 200px;
}

.sub-item{
  /* border:solid 4px red; */
  flex: 0 1 200px;
  display:flex;
  flex-direction:column;
  text-align:center;
  align-items:center;
}

.quotes-section{
  background-color:#E5E7EB;
  padding:30px 12% 25px 12%;
}

.quotes-section p{
  text-align: center;
  font-size: 36px;
  font-style: italic;
}

.quotes-section .quote-author{
  font-style:normal;
  font-size: 24px;
  font-weight:bold;
  text-align: right;
}

.call-to-action{
  padding:50px 12% 50px 12%;
  /* border:solid 4px; */
}

.call-to-action{
  /* margin:0 auto; */
  text-align:center;
}

.call-to-action-card{
  padding:50px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:#3882F6;
  color:white;
  border-radius: 10px;
}

.call-to-action-text{
  
  text-align: left;
}

.call-to-action-text h1{
 font-size: 40px;
 margin:0;
}

.call-to-action-text p {
  margin: 0;
}